<h1>Order #: 46700<%= @order['user_id'] %></h1>
<h6>purchased on <%= @order['purchased_on'] %></h6>
<h2>Customer: <%= @order['user']['email'] %></h2>


<h2>Product Name: <%= @order['product']['name'] %> </h2>

<img src="<%= @order['product']['images'][0]['image_url'] %>">

<h2>Price: <%= @order['product']['formatted']['price'] %> </h2>
<h2>Quantity: <%= @order['quantity'] %></h2>
<h2>Subtotal: <%= @order['formatted']['subtotal'] %></h2>
<h2>Tax: <%= @order['formatted']['tax'] %> </h2>
<h2>Total: <%= @order['formatted']['total'] %> </h2>
