<ul>
  <li>
    Sort By
  </li>
  <ul>
    <li>
      <a href="/client/products?sort_by=price">Price - Low To High</a>
    </li>
    <li>
      <a href="/client/products?sort_by=price&&sort_order=desc">Price - High to Low</a>
    </li>
    <li>
      <a href="/client/products?sort_by=name">Name - A to Z</a>
    </li>
    <li>
      <a href="/client/products?sort_by=name&&sort_order=desc">Name - Z to A</a>
    </li>
    </ul>
</ul>

<%= form_tag "/client/products", method: :get do %>
  <input type="text" name="search" placeholder="Search Term">
  <input type="submit" value="Go">
<% end %>

<% @products.each do |product| %>
  <h2><a href="/client/products/<%= product["id"] %>"><%= product["name"] %></a></h2>
  <% if product["discounted"] %>
    <h4> Discount Item! </h4>
    <% else %>
    <h4> Everyday Value </h4>
  <% end %>
  <h3>Price: <%= product["formatted"]["price"] %></h3>
  <h3>Tax: <%= product["formatted"]["tax"] %> </h3>
  <h3>Total: <%= product["formatted"]["total"] %> </h3>
  <h4>Image: <%= product["image_url"] %></h4>
  <h4>Description: <%= product["description"] %></h4>

  <br>
<% end %>