<h2><%= @product["name"] %></h2>
<h3>Price: <%= @product["formatted"]["total"] %></h3>
<h4>Image: <%= @product["image_url"] %></h4>
<h4>Description: <%= @product["description"] %></h4>
<h4>Supplier: <%= @product["supplier"]["name"] %></h4>


<% @product["images"].each do |image| %>
<img src="<%= image["image_url"] %>">
<% end %>
<br>

<%= form_tag "/client/orders", method: :post do  %>
  
    <input type="hidden" name="product_id" value=" 
    <%= @product['id'] %>">
  
  <div>
    Quantity: <input type="text" name="quantity">
  </div>
  <input type="submit" value="Create Order">
<% end %>


<a href="/client/products/<%= @product['id'] %>/edit">Edit</a>
<a href="/client/products/<%= @product['id'] %>" data-method="delete">Delete</a>