<h2><%= @product["name"] %></h2>
<h3>Price: <%= @product["formatted"]["total"] %></h3>
<h4>Image: <%= @product["image_url"] %></h4>
<h4>Description: <%= @product["description"] %></h4>
<img src="<%= @product['image_url'] %>" alt="image">

<a href="/client/products/<%= @product['id'] %>/edit">Edit</a>
<a href="/client/products/<%= @product['id'] %>" data-method="delete">Delete</a>